body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.5);
  background-color: var(--bg-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pin {
  position: relative;
  left: -1rem;
  color: white;
  background-color: var(--color-companyred);
  border-radius: 100%;
  font-size: x-small;
  width: 1rem;
  height: 1rem;
  border: 1px solid white;
}

.active {
  color: rgb(154, 154, 166);
  font-weight: 700;
  border: 1px solid rgb(154, 154, 166);
  border-radius: 5px;
}

.linkWrapper {
  display: flex;
  flex-direction: row;
  width: 10rem;
  gap: 2em;
  align-items: center;
  color: var(--color-navLightGray);
  padding: 0.4em 0.6em;
}

.sidenavWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 250px;
  align-items: center;
  height: 80vh;
  padding: 0 1rem;
  padding-top: 2.4rem;
  position: sticky;
  top: 4rem;
  overflow: hidden;
  transition: 0.5s;
}

.border-round {
  border-radius: 100%;
}

.sidenav {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.brand {
  width: 8rem;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 150%;
  color: var(--color-blue);
}

.seachComp {
  width: 50vw;
  height: 3rem;
  padding: 0 0 0 0.6em;
  gap: 1em;
  background-color: white;
  border-radius: 5px;
}

.navheader {
  /* border: 1px solid red; */
  padding: 1rem 0;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: flex-end;
  background-color: var(--bg-gray);
}
.nav-sub{
  flex-basis: 82rem;
  justify-content: space-between;
}
.search-icon {
}

.border-none {
  border: none;
}

.border-red {
  border: 1px solid red !important;
}

.relate-icon {
  position: relative;
  top: 0.2em;
}
.avatar {
  gap: 2em;
}

.seachComp > input {
  flex-grow: 1;
  height: 90%;
  border: none;
  border-radius: 0.5em;
  padding: 0 1em;
}

.button {
  background-color: var(--color-blue);
  height: 90%;
  width: 6rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

/* mobile */
@media only screen and (max-width: 860px) {
  .sidenavWrapper {
    width: 0;
    display: none;
  }
  .avatar {
    visibility: hidden;
    width: 0px;
    border: 1px solid pink;
  }
  .face{
    width: 25.78%;
    height: 18rem;
  }
}
@media only screen and (max-width: 560px) {
  .pixer {
    flex-direction: column;
  }
  .face{
    width: 24rem;
    height: 25rem;
  }
  .navheader{
    padding:0;
  }
  .nav-sub{
    flex-direction: column;
    align-items:flex-start;
  }
  .nav-sub-sub{
    width: 100%;
    justify-content: space-between;
  }
}
